.libertinus-keyboard-regular {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}



.navbar{

  text-align: center;
  height: 120px;
  transition: 0.5s;
  margin-top: 20px;
 background-color: black;  

}

.navbar li{
font-family: sans-serif;
font-weight: bold;
list-style: none;
display: inline-block;
margin-top: 35px;
margin-right: 50px;
font-size: 30px;

transition: 0.5s;
}


.navbar a{
  margin-top: 20px;
  text-decoration: none;
  color: white;
}

.navbar li:hover{
 font-size:  45px;
 transition: 0.5s;
}

.headtxt:hover{
  font-size: 60px;
  transition: 0.5s;

}

.headtxt{
  text-align: center; 
  font-family: sans-serif;
  font-size: 50px;
  color: rgb(15, 40, 15);
  margin: none;
  transition: 0.5s;
  text-shadow: 0px 0px 2px black;
}

.aboutsec{
 font-size: 20px;
  color: aliceblue;
  margin: none;
  padding: none;
  height:  60px;
    width: 600px;
     position: relative;
  left: 80px;
  transition: 0.5s;
}

.aboutsec:hover{

  scale: 120%;
  transition: 0.5s;
  overflow: visible;
  position: relative;
  left: 80px;
}

.pfp{
  float: right;
  right: 100px;
  transition: 0.5s;
 
}

.pfp:hover{
  
  scale: 120%;
  transition: 0.5s;

}

.aboutdiv{

  display: inline-block;
}

.foot{
  display: block;
  border: solid 10px aliceblue;
  margin: 100px;
 
}

.mail{
  font-size: 16px;
  color: aliceblue;
  text-decoration: none;
  transition: 0.25s;
}

.mail:hover{
  font-size: 20px;
  transition: 0.5s;
}

.allfootelements{
  padding: 10px;
  
}

.foot{
  display: block;
  margin: 200px;
}

.articlehead{
  display: inline-block;
  color: aliceblue;
  
  
}

  article p{_
  font-size: 16px;
  color: aliceblue;
  transition: 0.25s;
  }



    article p:hover{
font-size: 20px;
transition: 0.25s;

    }

@keyframes grow{
  50%{transform: scale(2 , 2)}
}


@media (max-width: 767px){
  .navbar li{
    display: block;
    
  }

  .navbar{
    height: 200px;
  }

  .pfp{
    position: relative;
   top: 150px;
  }

  .aboutdiv{
    height: auto;
    width: auto;
  }


  .aboutsec{
    height: auto;
    width: 180px;
  }

  .foot{
  position: relative;
  top: 100px;
  width: fit-content;
  height: fit-content;
  margin: none;
  display: inline-block ;
  
  }

  .allfootelements{
    padding: none;
  }

  .articlehead{
    position:relative;
    top: 200px;
  }

  article p{
    position: relative;
    top: 200px;
  }
}